*{
	padding:0px;
	margin: 0px;
}
h1{
text-align: center;
font-size: 60px;
}
body {
color: #5D3636;
background:rgb(240,231,212);
text-align: center;
font-family: "Century Gothic", Century Gothic, sans-serif;
}
img {
	height: 544;
	width: 1266;
}
a {
	color:#5D3636;
	font-size: 26px;
	text-decoration: none;
}
li {
	display: inline;
	font-size: 16px;
	text-align: center;
	padding: 10px;
	margin: 50px;
	background-color: #5D3636;
	color:rgb(240,231,212);
	margin-bottom: 20px;
}

.offerings {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
.contact {
	font-weight: bold;
}

#slogan {
background-color: #5D3636;
color:rgb(240,231,212);
font-size: 20px;
text-decoration: italic;
}